:root{
  --principal: rgb(203, 222, 247);
}

body{
  background-color: rgb(4, 4, 53);
  color: var(--principal);
  font-family: Arial;
}

header{
  padding: 50px 10px;
  position: relative;
}

a{
  text-decoration: none;
  color: var(--principal);
}

header img{
  width: 80%;
  display: flex;
  margin: auto;
  border-radius: 10px;
}

.cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.about{
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--principal);
}

section h2{
  color: darkcyan;
  display: flex;
  justify-content: center;
  padding: 10px;
}

section p{
  display: flex;
  text-align: justify;
}

li{
  list-style-type: square;
  padding-left: 25px;
}

footer{
  margin: 20px 10px;
}

.medias{
  display: flex;
  justify-content: center;
}

.medias li{
  list-style-type: none;
  font-size: 25px;
  margin: 10px;
}

@media (max-width:768px) {
  header h2{
    font-size: 20px;
  }
  header h3{
    font-size: 15px;
  }
  header h4{
    font-size: 12px;
  }
  .about{
    width: 100%;
    padding: 10px;
    border: none;
  }
  .medias li{
    font-size: 15px;
    margin: 0;
    padding: 10px;
  }
}
